page-add-order {
	.list-md {
		margin: -1px 0 16px;
		background-color: white;
	}
	
	
	.item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
		color: #949494;
	}
}
